/* 
    Contents :
        1 - Global
        2 - Header/Nav
        3 - Content
        4 - Footer
 */

/* ---------------------------- 
        1- Global
    ---------------------------- */
html,
body {
    margin: 0;
}

html {
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif !important;
}

p,
a {
    font-family: 'Nunito Sans', sans-serif !important;
}

a {
    color: #7971ea;
    text-decoration: none;
}

.title_color {
    color: #7971ea;
}

h1 {
    font-size: 2.5em;
}

.button {
    box-shadow: 0px 5px 10px lightgrey;
    padding: 10px;
    border-radius: 5px;
    background-color: #7971ea;
    color: white;
}

/* ---------------------------- 
        2- Header/Nav
    ---------------------------- */

header {
    display: flex;
    align-items: baseline;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 1px solid lightgrey;
    height: 90px;
    z-index: 10;
    background: white;
}

#header_title h1 {
    color: #7971ea;
    margin-left: 15%;
    font-size: 2em;
}

header i {
    font-size: 1.3em;
    margin-left: 20px;
    color: #7971ea;
}

header nav {
    margin-left: 12%;
    margin-right: 15%;
}

nav ol {
    display: flex;
}

nav li {
    margin-left: 25px;
    list-style-type: none;

}

nav a:hover {
    border-bottom: 2px solid #7971ea;
    padding-bottom: 5px;
}

nav a:focus {
    border-bottom: 2px solid #7971ea;
    padding-bottom: 5px;
}

nav a {
    font-size: 1.1em;
}

header a:hover {
    color: #7971ea;
}

header a:focus {
    color: #7971ea;
}

header a {
    text-decoration: none;
    color: black;
}

#menuToggle {
    display: none;
}
/* ---------------------------- 
        3- Content
    ---------------------------- */

.content {
    width: 100%;
    margin: 0;
}

#contact_template {
    display: flex;
    align-items: baseline;
}

#contact_template_text {
    margin-right: 700px;
}

#mentions {
    margin-top: 150px;
}

#confidential {
    margin-top: 150px;
}

#error {
    margin-top: 150px;
}

#error img {
    width: 60vw;
}

/* ---------------------------- 
        4- Home
    ---------------------------- */

#banner_home {
    background-image: url("Illustrations/banner_home.jpg");
    background-size: cover;
    height: 600px;
}

#banner_home_text {
    padding-top: 100px;
    color: white;
}

#banner_home h1 {
    font-size: 3em;
}

#banner_home h2 {
    font-size: 2.5em;
}


#portrait_home img {
    width: 300px;
    margin-top: 50px;
    border-radius: 100%;
}

#services_home {
    margin-top: 250px;
}

#about_home {
    background-image: url("Illustrations/about_home.jpg");
    background-size: cover;
    height: 400px;
}

#about_home_text {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    color: white;
}

#about_home_text p {
    color: white;
    font-size: 1.3em;
}

#about_home_text a {
    color: white;
    font-size: 1.3em;
}

.services_home_block {
    display: flex;
    width: 500px;
    height: 300px;
    box-shadow: 0px 5px 10px grey;
    margin: 2%;
}

.services_home_block_img {
    width: 250px;
    height: 100%;
    background-size: cover;
}

#portrait_services {
    background-image: url("Illustrations/portrait_services.jpg");
    background-size: cover;
}

#animal_services {
    background-image: url("Illustrations/animal_services.jpg");
    background-size: cover;
}

#landscape_services {
    background-image: url("Illustrations/landscape_services.jpg");
    background-size: cover;
}

#urbex_services {
    background-image: url("Illustrations/urbex_services.jpg");
    background-size: cover;
}


.services_home_block_text {
    margin-left: 15%;
    margin-top: 10%;
}

.services_home_block_global {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio_home_block {
    width: 500px;
    height: 300px;
    box-shadow: 0px 5px 10px grey;
    margin: 2%;
}

.portfolio_home_block_img {
    width: 100%;
    height: 100%;
    position: relative;
}

.portfolio_home_block_text {
    color: white;
    position: absolute;
    top: 80%;
    left: 40%;
}

#portfolio_home_block_global {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#portrait_portfolio {
    background-image: url("Illustrations/portrait_portfolio.jpg");
    background-size: cover;
}

#animal_portfolio {
    background-image: url("Illustrations/animal_portfolio.jpg");
    background-size: cover;
}

#landscape_portfolio {
    background-image: url("Illustrations/landscape_portfolio.jpg");
    background-size: cover;
}

#urbex_portfolio {
    background-image: url("Illustrations/urbex_portfolio.jpg");
    background-size: cover;
}

/* ---------------------------- 
        4- About
    ---------------------------- */

#banner_about {
    background-image: url("Illustrations/banner_about.jpg");
    background-size: cover;
    height: 600px;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about_block {
    display: flex;
    margin: 5%;
    width: 80vw;
    
    box-shadow: 0px 5px 10px grey;
}

#about_block_img {
    background-image: url("Illustrations/portrait_home.jpg");
    background-size: cover;
    width: 40vw;
    height: 100%;
}

#about_block_text {
    width: 50vw;
    text-align: initial;
    margin-left: 10%;
}

/* ---------------------------- 
        5- Contact
    ---------------------------- */
#banner_contact {
    background-image: url("Illustrations/banner_contact.jpg");
    background-size: cover;
    height: 600px;
}

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

#contact_infos {
    width: 40vw;
    box-shadow: 0px 5px 15px #ababab;
}

#contact_form {
    width: 40vw;
    margin-left: 100px;
    box-shadow: 0px 5px 15px #ababab;
}

#contact_form form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#contact_form input {
    padding: 5px;
    margin: 10px;
}


/* ---------------------------- 
        4- Services
    ---------------------------- */
#banner_services {
    background-image: url("Illustrations/banner_services.jpg");
    background-size: cover;
    height: 600px;
}

.services_block {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 700px;
    box-shadow: 0px 5px 10px grey;
    margin: 2%;
    text-align: center;
}

.services_block_img {
    width: 100%;
    height: 450px;
}

#services_block_global {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* ---------------------------- 
        4- Portfolio
    ---------------------------- */
.banner_portfolio {
    background-image: url("Illustrations/banner_portfolio.jpg");
    background-size: cover;
    height: 600px;
}

.portfolio_grid {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

.portfolio_grid img {
    cursor: pointer;
    margin: 1%;
    width: 300px;
    transition: transform .2s;
    /* Animation */
}

.portfolio_grid img:hover {
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* ---------------------------- 
        4- Footer
    ---------------------------- */

footer {
    width: 100%;
    border-top: 1px solid lightgrey;
    margin-bottom: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    padding: 20px;
}
footer a {
    margin-left: 20px;
    color: black;
}

footer a:hover {
    color: #7971ea;
}

footer p {
    color: #7971ea;
}

/* ---------------------------- 
        4- Media Queries
    ---------------------------- */

@media screen and (max-width: 1250px) {

    header nav {
        margin-left: 6%;
        margin-right: 7%;
    }
}

@media screen and (max-width: 1024px) {

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 200px;
    }

    #header_title h1 {
        margin-left: 0;
    }
    
    nav {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    nav li {
        margin-left: 0;
    }

	.nav-container {
		position: fixed;
		display: none;
		overflow-y: auto;
		z-index: -1;
		width: 180px;
		background: #fff;
        box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
	}

	.nav-tabs {
		flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 30px;
    }
    
    header nav li {
        margin-top: 30px;
    }

	.menu-btn {
		position: relative;
		display: block;
		margin: 0;
		width: 20px;
		height: 15px;
		cursor: pointer;
		z-index: 2;
		padding: 10px;
        border-radius: 10px;
        margin-bottom: 15px;
	}

	.menu-btn .menu {
		display: block;
		width: 100%;
		height: 2px;
		border-radius: 2px;
		background:  #7971ea;
	}

	.menu-btn .menu:nth-child(2) {
		margin-top: 4px;
		opacity: 1;
	}

	.menu-btn .menu:nth-child(3) {
		margin-top: 4px;
	}

	#menuToggle:checked + .menu-btn .menu {
		transition: transform 0.2s ease;
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(1) {
		transform: translate3d(0, 6px, 0) rotate(45deg);
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(2) {
		transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
		opacity: 0;
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(3) {
		transform: translate3d(0, -6px, 0) rotate(-45deg);
	}

	#menuToggle:checked ~ .nav-container {
		z-index: 1;
		display: flex;
		animation: menu-slide-left 0.3s ease;
	}
	@keyframes menu-slide-left {
		0% {
			transform: translateX(200px);
		}
		to {
			transform: translateX(0);
		}
    }

    #about_block {
        width: 90vw;
    }

    #contact_template {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #contact_template_text {
        margin-right: 0;
    }

    #mentions {
        margin-top: 250px;
    }
    
    #confidential {
        margin-top: 250px;
    }
    
    #error {
        margin-top: 250px;
    }
}

@media screen and (max-width: 800px) {

    #contact {
        flex-direction: column;
    }

    #contact_form {
        margin-left: 0;
        margin-top: 50px;
    }

    .services_block {
        margin-top: 50px;
    }

    footer {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {

    #contact_infos {
        width: 60vw;
    }

    #contact_form {
        width: 60vw;
    }

    #about_block_img {
        display: none;
    }

    #about_block_text {
        width: 100vw;
    }

    .services_home_block_text {
        margin-left: 10%;
    }
}

@media screen and (max-width: 550px) {

    #portrait_home img {
        width: 200px;
    }

}


@media screen and (max-width: 500px) {

    .services_home_block_text {
        margin-left: 5%;
        margin-right: 5%;
    }

    #about_home_text p {
        font-size: 1.1em;
    }
}